model:
  encoder:
    node_embed_size: 128
    edge_embed_size: 64
    ipa:
      c_s: 128 #${model.node_embed_size}
      c_z: 64 #${model.edge_embed_size}
      c_hidden: 128
      no_heads: 8
      no_qk_points: 8
      no_v_points: 12
      seq_tfmr_num_heads: 4
      seq_tfmr_num_layers: 2
      num_blocks: 6
      stop_grad: False
  interpolant:
    min_t: 1.e-2
    t_normalization_clip: 0.9
    sample_sequence: True
    sample_structure: True
    rots:
      train_schedule: linear
      sample_schedule: exp
      exp_rate: 10
    trans:
      train_schedule: linear
      sample_schedule: linear
      sigma: 1.0
    seqs:
      num_classes: 20
      simplex_value: 5.0
    sampling:
      num_timesteps: 100
    self_condition: False

train:
  loss_weights:
    trans_loss: 0.5 # 1.0 for dreamfold, 0.05 for yim
    rot_loss: 0.5 # 1.0 for dreamfold, 0.5 for yim
    bb_atom_loss: 0.25
    seqs_loss: 1.0
    angle_loss: 1.0
    torsion_loss: 0.5
  max_iters: 400000000
  val_freq: 20000
  batch_size: 32
  accum_grad: 1
  seed: 114514
  max_grad_norm: 100.0
  optimizer:
    type: adam
    lr: 5.e-4 #1.e-4
    weight_decay: 0.0
    beta1: 0.9
    beta2: 0.999
  scheduler:
    type: plateau
    factor: 0.8
    patience: 10
    min_lr: 5.e-6

dataset:
  train:
    type: peprec
    structure_dir: /datapool/data2/home/jiahan/Data/PepMerge_new/
    dataset_dir: /datapool/data2/home/jiahan/ResProj/PepDiff/frame-flow/Data/Fixed Data
    name: pep_pocket_train
    reset: False
    # split: train
    # transform:
    # - type: mask_single_cdr
    # - type: merge_chains
    # - type: patch_around_anchor
  val:
    type: peprec
    structure_dir: /datapool/data2/home/jiahan/Data/PepMerge_new/
    dataset_dir: /datapool/data2/home/jiahan/ResProj/PepDiff/frame-flow/Data/Fixed Data
    name: pep_pocket_test
    reset: False
    # split: val
    # transform:
    # - type: mask_single_cdr
    # - type: merge_chains
    # - type: patch_around_anchor